doctype html
html(lang="en")
  head
  body
    div#root
    h1 Hello Pug!
    p.
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.
    script(type="module", src="./src/index.js")